body {
    padding-top: 2rem
}

.modal-show {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-overflow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .4;
}
